<div class="page_header_container">
  <header class="page_header">
    <a href="/" class="page_header_logo clearA" title="Home page"></a>
    <a href="/" class="page_header_title clearA" title="Home page">FAT-GIT</a>
    <nav class="menu">
      <ul>
        <li><a href="/about" class="clearA">About us</a></li>
        <li>{{>userWidget}}</li>
      </ul>
    </nav>
  </header>
</div>
