<div class="page_header_container">
  <header class="page_header">
    <a href="/"  class="page_header_logo clearA"></a>
    <h1 class="page_header_title">FAT-GIT</h1>
    <nav class="menu">
      <ul>
        <li><a href="/about" class="clearA">About us</a></li>
        <li>{{>userWidget}}</li>
      </ul>
    </nav>
  </header>
</div>
