{{#if isLogged}}
  <a href="/profile" class="clearA">Profile</a>
{{else}}
  <a href="https://github.com/login/oauth/authorize?client_id=21d5d0355d245494032c&scope=public_repo" id="loginGitHub" class="clearA">Sign in with GitHub</a>
{{/if}}
