<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Nice Nail">
  <title>Nice Nail</title>
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="shortcut icon" href="nail-polish.ico" type="image/x-icon">
</head>
<body>
{{>header}}
{{{body}}}
{{>footer}}
</body>
</html>