<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Github issue browser">
  <title>About us | EDAA</title>
  <link rel="stylesheet" href="/styles/css/about.css">
  <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon">
</head>
<body>
<div class="back"></div>

<div class="page_wrapper">
  {{>header}}
  <div class="page">
    <main class="page_content">

      <div>
        <h1>About EDAA</h1>
        <ul>
          <li>We are – an young, perspective team with four participants</li>
          <li>All members of EDAA – are students of Kryvyi Rih National University</li>
          <li>Our favorite direction of programming – WEB-development</li>
          <li>The title of team – is an abbreviate from our names</li>
          <li>Contact us: &nbsp;<a href="mailto:edaa.team@gmail.com" class="mail clearA"> edaa.team@gmail.com</a></li>
        </ul>
      </div>

      <div>
        <h1>About FAT-GIT</h1>
        <ul>
          <li>This is test task HACKaton IT Revolution 2017</li>
          <li>Theme: Github Issue Browser</li>
          <li>It gives an ability to comfortable work with repositories based on Github platform</li>
          <li>Here are using Intelligent Label Processing (ILP) and Issue Allocation (IA) technologies</li>
          <li>Site makes processing issues with multiple labels</li>
          <li>User can comment any issue in web-chat style</li>
          <li>After loading the repository, comments about it are displayed</li>
        </ul>
      </div>
      <div>
        <h1>We use</h1>
        <ul>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>SASS</li>
          <li>Gulp</li>
          <li>Flex-box</li>
          <li>ES6</li>
          <li>Github REST.API v3</li>
          <li>Heroku: Cloud Application Platform</li>
          <li>No side libs :)</li>
        </ul>
      </div>
    </main>
  </div>
</div>

<!--<script src="/scripts/signInGit.js"></script>-->


</body>
</html>

