<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Github issue browser">
  <title>GitHub Issue Browser | EDAA</title>
  <link rel="stylesheet" href="/styles/css/main.css">
  <link rel="shortcut icon" href="/favicon.ico"  type="image/x-icon">


  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


</head>
<body>
<div id="page_preloader" class="page_preloader">
  <div class="page_preloader_content" id="page_preloader_content">
    <div class="page_preloader_title" id="page_preloader_title">EDAA</div>
    <svg xmlns="http://www.w3.org/2000/svg" id="lapka" xmlns:se="http://svg-edit.googlecode.com" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="158.9090906726426" height="639.9090906726428" style="">                                    <title>my vector image</title>                                    <!-- Created with Vector Paint - http://www.vectorpaint.yaks.com/ https://chrome.google.com/webstore/detail/hnbpdiengicdefcjecjbnjnoifekhgdo -->                                    <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="#FFFFFF" stroke="none" style="" class=""/>                                <g class="currentLayer" style=""><title>Layer 1</title><path fill="#4a90d6" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_24" d="M82.97224559209229,-3.3901319769244793 " style="color: rgb(0, 0, 0);" class=""/><path fill="none" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_28" d="M79.57088516475869,-0.6690436350575482 " style="color: rgb(0, 0, 0);" class=""/><path fill="none" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_32" d="M79.57088516475869,6.133677219609794 " style="color: rgb(0, 0, 0);" class=""/><path fill="none" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_36" d="M8.822588276218369,-7.47176448972489 " style="color: rgb(0, 0, 0);" class=""/><path fill="none" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_40" d="M49.63891340422242,0.011228450409177526 " style="color: rgb(0, 0, 0);" class=""/><path fill="#000000" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_68" d="M53.90068611834053,-0.4587561502746169 " style="color: rgb(0, 0, 0);" class=""/><path fill="#000000" stroke="#000000" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" id="svg_11" d="M100.05846400871275,8.893346323242188 C119.64178400871276,6.060006323242188 126.97511400871275,33.948906323242184 129.50289400871276,44.004466323242184 C132.03067400871277,54.06002632324219 160.53067400871277,56.42113632324219 155.41956400871277,76.69890632324218 C150.30845400871277,96.97667632324219 146.47511400871275,99.19891632324219 126.86400400871275,113.50446632324218 L101.16956400871277,626.1989063232422 C84.58370400871274,635.0398163232422 63.95744400871274,635.3958763232422 47.16956400871277,625.4489063232422 L37.41956400871277,111.69890632324218 C16.780674008712765,100.44890632324218 13.641794008712793,93.9211363232422 8.280674008712765,72.67112632324219 C2.919554008712794,51.42111632324219 30.91956400871277,55.504466323242184 32.89178400871276,44.226686323242184 C34.864004008712755,32.948906323242184 42.697344008712776,14.504456323242188 53.39178400871276,11.393336323242188 C64.08622400871275,8.282226323242188 69.05291400871278,17.06928632324219 79.33068400871275,16.698916323242187 C89.60846400871276,16.328546323242186 86.83069400871278,11.235946323242187 100.16402400871277,8.643356323242188 " style="color: rgb(0, 0, 0);" class="" fill-opacity="1"/><path fill="#ffbcdc" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M85.28293412200463,39.69580688604674 C85.28293412200463,31.46850945545856 91.4205717883878,24.80439853668213 98.99790224071268,24.80439853668213 C106.57523269303755,24.80439853668213 112.71287035942078,31.46850945545856 112.71287035942078,39.69580688604674 C112.71287035942078,47.92310431663492 106.57523269303755,54.58721523541135 98.99790224071268,54.58721523541135 C91.4205717883878,54.58721523541135 85.28293412200463,47.92310431663492 85.28293412200463,39.69580688604674 z" class="" filter="" id="svg_84"/><path fill="#ffbcdc" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M46.53293412200463,39.19580688604674 C46.53293412200463,30.96850945545856 52.670571788387804,24.30439853668213 60.247902240712676,24.30439853668213 C67.82523269303755,24.30439853668213 73.96287035942078,30.96850945545856 73.96287035942078,39.19580688604674 C73.96287035942078,47.42310431663492 67.82523269303755,54.08721523541135 60.247902240712676,54.08721523541135 C52.670571788387804,54.08721523541135 46.53293412200463,47.42310431663492 46.53293412200463,39.19580688604674 z" class="" filter="" id="svg_83" fill-opacity="1"/><path fill="#ffbcdc" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M18.816612005233765,74.58841180801392 C18.816612005233765,65.92527778636025 25.976832999708904,58.9081392288208 34.816612005233765,58.9081392288208 C43.656391010758625,58.9081392288208 50.816612005233765,65.92527778636025 50.816612005233765,74.58841180801392 C50.816612005233765,83.25154582966758 43.656391010758625,90.26868438720703 34.816612005233765,90.26868438720703 C25.976832999708904,90.26868438720703 18.816612005233765,83.25154582966758 18.816612005233765,74.58841180801392 z" class="" id="svg_8"/><path fill="#ffbcdc" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M109.06661200523376,74.83841180801392 C109.06661200523376,66.17527778636025 116.2268329997089,59.1581392288208 125.06661200523376,59.1581392288208 C133.90639101075863,59.1581392288208 141.06661200523376,66.17527778636025 141.06661200523376,74.83841180801392 C141.06661200523376,83.50154582966758 133.90639101075863,90.51868438720703 125.06661200523376,90.51868438720703 C116.2268329997089,90.51868438720703 109.06661200523376,83.50154582966758 109.06661200523376,74.83841180801392 z" class="" id="svg_7"/><path fill="#ffbcdc" fill-opacity="1" stroke="#222222" stroke-opacity="1" stroke-width="2" stroke-dasharray="none" stroke-linejoin="round" stroke-linecap="butt" stroke-dashoffset="" fill-rule="nonzero" opacity="1" marker-start="" marker-mid="" marker-end="" d="M81.44550562224038,116.41693712691688 C145.47538090779608,117.95391650087436 80.88872409801814,63.39114872538096 80.63150433128925,63.11449767231602 C80.88872409801814,63.39114872538096 17.415630336684615,114.87995775295926 81.44550562224038,116.41693712691688 z" style="color: rgb(0, 0, 0);" class="" id="svg_12"/></g><defs><filter id="f001" inkscape:label="Matte jelly" x="0" y="0" width="1" height="1" inkscape:menu="ABCs" inkscape:menu-tooltip="Bulging, matte jelly covering" color-interpolation-filters="sRGB">
    <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0.85 0" result="result0" in="SourceGraphic"/>
    <feGaussianBlur in="SourceAlpha" stdDeviation="7"/>
    <feSpecularLighting surfaceScale="5" specularConstant=".9" specularExponent="25">
      <feDistantLight elevation="60" azimuth="225"/>
    </feSpecularLighting>
    <feComposite operator="atop" in2="result0"/>
  </filter></defs></svg>
  </div>
</div>
<div class="back"></div>

<div class="page_wrapper">
  {{>header}}
  <div class="page">

    <main class="page_content">
      <div class="form_wrapper">
        <form id="queryForm" autocomplete="off">
          <div class="input_wrapper">
            <input type="text" required name="repoOwner" placeholder="repository owner" value="">
            <div class="line"></div>
            <input type="text" required name="repoName" placeholder="repository name" value="">
          </div>
          <!--<input type="submit" value="Search" id="searchButton" class="button" title="Search labels for repository">-->

          <div class="button_container">
            <input type="submit" value="Search" id="searchButton" title="Search labels for repository">
          </div>
        </form>
      </div>
      <!-- here will be labels for repo -->
      <form id="labels">

      </form>

      <div class="repo_comments">
        <div id="repo_comments_container">

        </div>
        <div id="loadMore_container">
        </div>
      </div>
    </main>
  </div>
</div>

<script src="/scripts/index.js"></script>
<script src="/scripts/preloaders.js"></script>
<script>
  function registerServiceWorker() {
// регистрирует скрипт sw в поддерживаемых браузерах
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js', { scope: '/' }).then(() => {
        console.log('Service Worker registered successfully.');
      }).catch(error => {
        console.log('Service Worker registration failed:', error);
      });
    }
  }
</script>
<!--<script src="/scripts/signInGit.js"></script>-->
</body>
</html>

