@import 'reset'
@import 'common'

//$pageWidth: 1200px
$pageWidth: 800px

$buttonBack: #4fddff
$buttonBack_HOVER: #82e2ff

.clearA
  outline: none
  &:link, &:visited, &:active
    text-decoration: none
    color: white
    outline: none
body
  position: relative
div.back
  position: fixed
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: center no-repeat
  background-size: cover
  background-image: url('/assets/images/background0.jpg')
  z-index: 1

.page_wrapper
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  //min-height: 100vh
  z-index: 2
  //background: linear-gradient(to bottom, rgba(0, 174, 255, 0.51), transparent)
  background: linear-gradient(to bottom, rgba(0, 174, 255, 0.4), transparent)
  min-height: 100vh

  .page
    margin: 0 auto
    max-width: $pageWidth
    padding: 0 10px

$fnt_color: #1c1c1c
.markDown
  font-family: $fnt_RobotoReg
  overflow: hidden
  color: $fnt_color
  word-break: break-all
  a
    outline: none
    &:link, &:visited, &:active
      color: #6acbff
      outline: none
    &:hover
      color: blue
    img
      display: block
      max-width: 100%
      width: auto

  span.code xmp
    display: inline-block
    margin: 5px
    padding: 5px
    background: #e2e2e2
    line-height: 1.5em
    border-radius: 3px
    font-family: 'Consolas'
  span.header
    display: block
    font-family: $fnt_RobotoMed
    margin: 5px
    padding: 5px
    border-bottom: 1px solid #d0d0d0
    letter-spacing: 0.05em
    &.header_1
      font-size: 2em
      letter-spacing: 0.1em
    &.header_2
      font-size: 1.5em
    &.header_3
      font-size: 1.1em
  span.quote
    display: block
    position: relative
    color: #919191
    padding-left: 20px
    margin-top: 15px
    //margin-bottom: -10px
    &:before
      position: absolute
      content: ''
      top: 0
      bottom: 0
      left: 0
      height: 100%
      width: 4px
      background: #cccccc

  span.list
    display: inline-block
    margin: 5px 5px 5px 20px
    /* UNORDERED */
    &.list_unordered
      position: relative
      padding-left: 15px
      &:before
        position: absolute
        display: inline-block
        content: ''
        width: 5px
        height: 5px
        top: 50%
        margin-top: -3px
        left: 0
        border-radius: 50%
        background: black
    /* ORDERED LIST */
    &.list_ordered
      padding-left: 5px
    &.list_check
      position: relative
      padding-left: 20px
      &:before
        position: absolute
        display: inline-block
        content: ''
        width: 14px
        height: 14px
        top: 3px
        //margin-top: -6px
        left: 0
        background: url("/assets/images/square.png") center center no-repeat
        background-size: cover
      &.checked:before
        background-image: url("/assets/images/checked-box.png")
  a.mention
    font-family: $fnt_RobotoMed
    color: black
    text-decoration: none
    &:hover
      text-decoration: underline





.button
  display: flex
  align-items: center
  justify-content: center
  height: 40px
  border: none
  outline: none
  font-family: $fnt_RobotoReg
  box-sizing: border-box
  font-size: 1.2em
  width: 110px
  text-align: center
  cursor: pointer
  border-radius: $mainRadius
  background: $buttonBack
  transition: .3s
  padding: 0 5px
  color: $fnt_color
  &.load
    color: transparent
    position: relative
    &::after
      display: block
      content: ''
      position: absolute
      width: 20px
      height: 20px
      top: calc(50% - 10px)
      left: calc(50% - 10px)
      border: 2px solid transparent
      border-bottom: 2px solid white
      border-radius: 50%
      animation: anim_button_load 1s linear infinite


  &:hover
    background: $buttonBack_HOVER

.button_container
  &>input[type='submit']
    display: flex
    align-items: center
    justify-content: center
    height: 40px
    border: none
    outline: none
    font-family: $fnt_RobotoReg
    box-sizing: border-box
    font-size: 1.2em
    width: 110px
    text-align: center
    cursor: pointer
    border-radius: $mainRadius
    background: $buttonBack
    transition: .3s
    padding: 0 5px
    color: $fnt_color
    &:hover
      background: $buttonBack_HOVER
  &.load
    &>input[type='submit']
      color: transparent
    position: relative
    &::after
      display: block
      content: ''
      position: absolute
      width: 20px
      height: 20px
      top: calc(50% - 10px)
      left: calc(50% - 10px)
      border: 2px solid transparent
      border-bottom: 2px solid white
      border-radius: 50%
      animation: anim_button_load 1s linear infinite



/* animation fo label */
@keyframes anim_label
  0%
    transform: scale(0.5,0.5)
  100%
    transform: scale(1, 1)
@keyframes anim_button_load
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)